<div class="panel-heading">
  <h1>ツイート一覧</h1>
</div>

<% if flash[:notice] %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>

<table class="content">

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.content %></td>
  </tr>
  <tr>
    <td><%= link_to "ツイートを編集する", edit_tweet_path(tweet.id), data: { confirm: '本当に編集していいですか？' }, class: "btn btn-info" %></td>
    <td><%= link_to 'ツイートを削除する', tweet_path(tweet.id), method: :delete,data: { confirm: '本当に削除していいですか？' }, class: "btn btn-danger" %></td>
  </tr>
  <tr>
    <td>　</td>
  </tr>
<% end %>

</table>
