.navbar-default{
  background-color: #00ccff;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-text {
  color: white;
}

.navbar-default .navbar-text a{
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.jumbotron {
  position: relative;
  background: url("top.jpg") center center;
  background-size: cover;
}

.jumbotron::before {
  content:"";
  display: block;
  padding-top: 40%; /*.jumbotronのwidthに対して高さ50%に保つ*/
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}

.footer{
  width: 100%;
  text-align: center;
  padding-top: 4%;
  position: relative;
  bottom: 0;
  background-color: #4D4D4D;
  color: white;
  display: table;
}

.footer p{
  margin-bottom: 4%;
}

.panel-default{
  border-color: #00ccff;
}

.panel-default .panel-heading{
  color: white;
  border-color: #00ccff;
  background-color: #00ccff;
}

h1 {
  font-size: calc(100% + 1.5vw)
  /* font-size: 3vw; */
}

h2 {
  font-size: calc(90% + 0.75vw)
  /* font-size: 2vw; */
}

.content td{
  padding-left: 10px;
}

p{
  padding-left: 10px;
}
